h1 {
  padding-left: 10px;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;

}

h2 {
  padding-left: 10px;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: gray;


}

nav {
  text-align: left;
}

ul {
  padding-left: 10px;
  list-style: none;
  text-align: inherit;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  color: gray;
  text-align: inherit;
  font-style: italic;
  font-weight: lighter;
}

.main {
  margin-left: 160px;
}

.sidebar {
  padding: 0px;
  float: left;
  width: 160px;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: #EAEAEA;

}

.sidebar a:hover{
  color: #BCD1E2;
}
