h1 {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  vertical-align: 10%;

}

h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: gray;
  vertical-align: -50%;


}


.main {
  float: right;
  width: 80%;

}

.sidebar {
  float: left;
  width: 15%;
}
