h1 {
  margin: 0;
  top: 0;
  padding-left: 60px;
  padding-top: -20px;
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  z-index: -1

}



h2 {
  padding-left: 10px;
  font-size: 1.9em;
  font-family: 'Lora', serif;
  color: gray;
  margin-top: 0px;


}

h3 {
  margin: 0;
  font-size: 1.9em;
  font-family: 'Lora', serif;
  color: gray;
  padding: 10px;

  opacity: 1;


}

h4{
  margin: 0;
  font-size: 1.7em;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  padding-left: 20px;
  font-weight: lighter;
}


p{
  margin: 0;
  font-size: 24px;
  padding:10px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  display: block;
  float: none;


}


ul {
  padding-left: 10px;
  list-style: none;
  text-align: inherit;
}

.sidebar a {
  padding: 5px;
  text-decoration: none;
  font-size: 1.7em;
  font-family: 'Playfair Display', sans-serif;
  color: gray;
  text-align: center;
  font-weight: lighter;

}

p a {
  text-decoration: none;
  color: gray;
}

p a:hover{
  color: #BCD1E2
}

/* body {
  background-image: url(../imgs/RMNP.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.75;
} */



.main {
  padding-top: 150px;
  margin-left: 0px;
  transition: margin-top .5s;
  padding: 0px;
}

.openbtn {
  border-radius: 3px;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: gray;
  color: white;
  padding: 10px 14px;
  border: none;
  z-index: 1;
  transition: 0.5s;
}

.textbox{
  background-color: #BDC3C7;
  border-radius: 3px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  transition: 0.5s;
  opacity: .7;
  display: block;
  overflow: auto;
}

.appbox{
  border-radius: 3px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  transition: 0.5s;
  opacity: 1;
  display: block;
  overflow: auto;
}

.projbox{
  border-radius: 3px;
  background-color: #BDC3C7;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.5s;
  opacity: 1;
  display: block;
  overflow: hidden;
  opacity: 0.75;
}


.projbox .readmore {
  position: relative;
  top: -45px;
  right: 10px;
  width: 30px;
  font-size: 25px;
  border-radius: 3px;
  float: right;
  background-color: gray;
  border: none;

}


iframe{
  border: 0px;
  width: 100%;
  height: 500px
}


.sidebar {
  border-radius: 3px;
  padding: 0px;
  float: left;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  height: 0px;
  position: fixed;
  background-color: #EAEAEA;
  overflow-y: hidden;
  transition: 0.5s;
  opacity: 0.75;

}

.sidebar .closebtn {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 1.5em;
  margin-left: 50px;
  color: gray;

}

.sidebar .closebtn:hover{
  color: #BCD1E2;
}

.openbtn:hover{
  color: #BCD1E2;
}



.sidebar a:hover{
  color: #BCD1E2;
}
